Repository codeBelt/release-it: changes, and which lefthook commands are due for each by the changed paths.
All: json, docs, mobile, storybook, web, md

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm commitlint --edit

pre-commit:
  parallel: true
  commands:
    json:
      glob: "*.json"
      run: pnpm prettier --check {staged_files}
    docs:
      root: "apps/docs/"
      glob: "*.{js,csj,mjs,ts,jsx,tsx,mdx}"
      run: pnpm eslint {staged_files}
    mobile:
      root: "apps/mobile/"
      glob: "*.{js,csj,mjs,ts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    storybook:
      root: "apps/storybook/"
      glob: "*.{js,csj,mjs,ts,jsx,tsx,mdx}"
      run: pnpm eslint {staged_files}
    web:
      root: "apps/web/"
      glob: "*.{js,csj,mjs,ts,jsx,tsx,mdx}"
      run: pnpm eslint {staged_files}
    md:
      glob: "*.md"
      run: pnpm prettier --check {staged_files}

pre-push:
  follow: true
  commands:
    tests:
      run: pnpm test

#
#   After making changes you need to sync the hooks with your Git project for them to take effect. 
#   Run the following command in your terminal:
#
#   $ pnpm lefthook install
#

docs: edit README
  README.md
Due: md

docs: edit CONTRIBUTING
  CONTRIBUTING.md
Due: md

chore: edit vscode settings
  .vscode/settings.json
Due: json

refactor(storybook): move App to separate file
  apps/storybook/app/App.tsx
  apps/storybook/app/index.tsx
Due: storybook

feat(mobile,ui): enable jest testing
  CONTRIBUTING.md
  apps/mobile/app/__tests__/index.test.tsx
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  packages/ui/babel.config.js
  packages/ui/package.json
  packages/ui/src/__tests__/button.test.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: json, mobile, md

ci: add app scripts to package.json
  package.json
Due: json

ci: add jest findRelatedTests to lefthook
  lefthook.yml
Due: none
